.carousel-animes, .carousel-animes .carousel-item {
  aspect-ratio: 16/9;
}

.carousel-animes .carousel-indicators {
  top: 0;
  left: 100%!important;
  flex-direction: column;
  width: calc((100% * 1.5)/3);
  margin: 0!important;
  padding: 0 0 0 1rem;
  display: flex;
  justify-content: flex-start;
}

.carousel-animes .carousel-indicators [data-bs-target] {
  width: fit-content!important;
  height: fit-content!important;
  padding: 0!important;
  margin: 0 0 1rem 0!important;
  text-indent: 0;
  opacity: 1;
}

.carousel-animes .carousel-indicators .active[data-bs-target] {
  background-color: var(--bs-dark);
  color: rgba(var(--bs-white-rgb))!important;
}

.carousel-animes .carousel-item{
  width: 100%;
}

.carousel-animes .carousel-item img {
  min-height: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}