.flasher-success {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba(25, 135, 84, 0.4);
  border: 5px solid var(--bs-success);
  border-radius: 0.25rem;
}

/* falsher-error */