:root {
  --ex-primary: #00003a;
  --ex-secondary: #f0f0f0;
  --ex-dark: #0f0f0f;
  --ex-success: #5BB318;
  --ex-warning: #f9ba00;
  --ex-danger: #ff0009;
}

.bg-primary {background-color: var(--ex-primary)!important;}
.bg-secondary {background-color: var(--ex-secondary)!important;}
.bg-dark {background-color: var(--ex-dark)!important;}
.bg-success {background-color: var(--ex-success)!important;}
.bg-warning {background-color: var(--ex-warning)!important;}
.bg-danger {background-color: var(--ex-danger)!important;}

.text-primary {color: var(--ex-primary)!important;}
.text-secondary {color: var(--ex-secondary)!important;}
.text-dark {color: var(--ex-dark)!important;}
.text-success {color: var(--ex-success)!important;}
.text-warning {color: var(--ex-warning)!important;}
.text-danger {color: var(--ex-danger)!important;}

.border-primary {border-color: var(--ex-primary)!important;}
.border-secondary {border-color: var(--ex-secondary)!important;}
.border-dark {border-color: var(--ex-dark)!important;}
.border-success {border-color: var(--ex-success)!important;}
.border-warning {border-color: var(--ex-warning)!important;}
.border-danger {border-color: var(--ex-danger)!important;}

.btn-primary {border-color: var(--ex-primary)!important; background-color: var(--ex-primary)!important;}
.btn-secondary {border-color: var(--ex-secondary)!important; background-color: var(--ex-secondary)!important;}
.btn-dark {border-color: var(--ex-dark)!important; background-color: var(--ex-dark)!important;}
.btn-success {border-color: var(--ex-success)!important; background-color: var(--ex-success)!important;}
.btn-warning {border-color: var(--ex-warning)!important; background-color: var(--ex-warning)!important;}
.btn-danger {border-color: var(--ex-danger)!important; background-color: var(--ex-danger)!important;}

.scrollbar-none::-webkit-scrollbar{width: 0; height: 0;}

main {color: var(--ex-dark); padding: 1rem; margin: 3rem auto; width: calc((100% / 12) * 10); border-radius: 0.275rem; background-color: #fff;}