/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
/* .ex-carousel {
  position: relative!important;
}

.ex-carousel-inner > .carousel-item {
  aspect-ratio: 235/146;
}

.ex-carousel-inner > .carousel-item > .ex-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ex-carousel-indicators {
  position: absolute;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  top: 0;
  left: calc(100% + 1rem);
  right: auto;
  overflow: auto;
}

.ex-carousel-indicators::-webkit-scrollbar {
  width: 0;
}

.ex-carousel-indicators > button {
  width: 100%!important;
  height: auto!important;
} */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
.form-required::after {
  content: ' *';
  color: var(--ex-red);
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sub-header {
  margin: -20px -30px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  padding: 10px 30px;
  /* text-align: center; */
}

.ex-chevron.collapsed i.bi-chevron-down {
  transform: rotate( 0deg );            
}

.ex-chevron i.bi-chevron-down {
  transform: rotate( 180deg );            
  transition: transform 0.2s ease;
}