.admin .sidenav {
  top: 56px!important;
  height: calc(100vh - 56px);
  width: 88px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.admin .sidenav::-webkit-scrollbar {
  width: 0;
}

.admin .sidenav .sidenav-menu {
  display: flex;
  flex-direction: column;
}

.admin .sidenav .sidenav-menu .sidenav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  color: var(--bs-body-color);
}

.admin .sidenav .sidenav-menu .sidenav-item:hover {
  background: var(--bs-primary);
}

.admin .sidenav .sidenav-menu .sidenav-item .sidenav-logo {
  margin-bottom: 0.25rem;
}

.admin .sidenav .sidenav-menu .sidenav-item .sidenav-text {
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.admin .sidenav .sidenav-menu .sidenav-item:hover .sidenav-text {
  font-weight: bold;
  color: rgba(var(--bs-white-rgb));
}

.admin .card-table {
  width: calc(25% - (3rem / 4));
}